/* html {
    background-color: rgb(45, 211, 223);
    margin: 3rem auto;
    max-width: 600px;
      
  } */


html {

    background-color: rgb(20, 22, 22);

    color: #006d77;
    color: #42999B;
    color: #b8dedc;
    color: #edf6f9;
    color: #ffddd2;
    color: #ff9470;
    color: #041010;
    color: #ffffff;
}